black==23.10.0
langflow==1.1.1
pydantic
pydantic_core
scikit-image
scikit-learn
scipy
certifi==2024.8.30
typer==0.15.1
typing_extensions==4.12.2
langgraph
langchain
langsmith
langchain_openai
docling==1.11.0
openai
python-dotenv
networkx
